.glass_production_order__tracing_tree [data-field="product_name"] {
font-size: 10px;
}
.glass_production_order__tracing_tree [data-field="display_name_partner"] {
font-size: 10px;
}
.glass_production_order__tracing_tree [data-field="estado"] {
font-size: 10px;
}

/* .glass_production_order__tracing_stock_tree [data-field="product_name"] {
font-size: 10px;
}
.glass_production_order__tracing_stock_tree [data-field="display_name_partner"] {
font-size: 10px;
} */